<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    Hi <b>{{name}}</b>,
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    You are receiving this email because we received a password reset request for your account.
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <a href="{{resetPasswordLink}}" class="btn-primary" itemprop="url">Reset Password</a>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    This password reset link will expire in <b>{{expirationMinutes}}</b> minutes.
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    If you did not create an account, no further action is required.
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    &mdash; Administrator
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>
